<h1>Add FarmWork</h1>
<%= name %>
<%= farmHeadId%>
<form action="/addfarmwork" method="POST">

    <label for="status">Status</label>
    <input type="text" name="status" id="status">

    <label for="hours">Hours</label>
    <input type="number" name="hours" id="hours">

    <label for="date">Date</label>
    <input type="date" name="date" id="date">
  
    <label for="location">Location</label>
    <input type="text" name="location" id="location">
  
    <button class="btn" type="submit">Add Farmwork</button>
</form>
<h2>Approve Farmworks</h2>
<% for (let submitedfarmwork of submitedfarmworklist) { %>
    <%= submitedfarmwork.id %>
    <%= submitedfarmwork.hours %>
    <%= submitedfarmwork.date %>
    <%= submitedfarmwork.location %>
    <%= submitedfarmwork.status %>
    <a href="/approvefarmproof/<%= submitedfarmwork.id  %>" class="btn">Approve Farmwork</a>
    <br>
<% } %>