<h1>Student</h1>
<h2><%= name%> </h2>
<h2><%= role%></h2>
<h3>Special Project Hours</h3>
<h3><%= student.SplProjectHours %></h3>
<h3>Farm Work Hours</h3>
<h3><%= student.FarmWorkHours%></h3>
<h3>Social Work Hours</h3>
<h3><%= student.SocialWorkHours %></h3>

<h2>Registered Farm Activities</h2>
<h2>Currently Registered Farm Activites</h2>
<% for (let farmwork of currentlyRegisteredFarmlist) { %>
    <%= farmwork.id %>
    <%= farmwork.hours %>
    <%= farmwork.date %>
    <%= farmwork.location %>
    <%= farmwork.status %>
    <br>
<% } %>
<h2>Approved Farm Activites</h2>
<% for (let farmwork of approvedFarmlist) { %>
    <%= farmwork.id %>
    <%= farmwork.hours %>
    <%= farmwork.date %>
    <%= farmwork.location %>
    <%= farmwork.status %>
    <%= farmwork.feedback%>
    <br>
<% } %>
<h2>Disapproved Farm Activites</h2>
<% for (let farmwork of disapprovedFarmlist) { %>
    <%= farmwork.id %>
    <%= farmwork.hours %>
    <%= farmwork.date %>
    <%= farmwork.location %>
    <%= farmwork.status %>
    <%= farmwork.feedback%>
    <br>
<% } %>
<h2>Currently Registered Social Activites</h2>
<h2>Upcoming Farm Activites</h2>
<% for (let farmwork of unjoinedfarmworklist) { %>
    <%= farmwork.id %>
    <%= farmwork.hours %>
    <%= farmwork.date %>
    <%= farmwork.location %>
    <%= farmwork.status %>
    <form action="/joinfarmwork" method="POST">
        <input type="hidden" value="<%= farmwork.id %>" name="farmworkId">
        <button class="btn" type="submit">Join</button>
    </form>
    <br>
<% } %>
<h2>Upcoming Social Activites</h2>
<h2>Spl Project Group</h2>
<% if(!hasSplGrp) { %>
    <a href="/createsplgrp %>" class="btn">Create New Grp</a>
<% } else { %>
    <%= splprojectgrpData.splgrpId %>
    <%= splprojectgrpData.projectname %>
    <%= splprojectgrpData.status %>
    <% for (let member of  splgrpmemberlist) { %>
        <%= member.studentId %>
        <%= member.firstname %>
    <% } %>
    <h2>Status of spl project</h2>
    <% if(createdStatus) { %>
        <h2> createdStatus </h2>
        <a href="/createsplgrp?createdStatus=true" class="btn">Give Sample Proof</a>
    <% } %>
    <% if(submittedSampleStatus) { %>
        <h2>submittedSampleStatus</h2>
        <a href="/createsplgrp?submittedSampleStatus=true" class="btn">Update Sample Proof</a>
    <% } %>
    <% if(sampleRejected) { %>
        <h2> sampleRejected </h2>
        <a href="/createsplgrp?sampleRejected=true" class="btn">Update Sample Proof</a>
    <% } %>
    <% if(sampleAccepted) { %>
        <h2> sampleAccepted </h2>
        <a href="/createsplgrp?sampleAccepted=true" class="btn">Give final proof</a>
    <% } %>
    <% if(submittedFullStatus) { %>
        <h2>submittedFullStatus</h2> 
        <a href="/createsplgrp?submittedFullStatus=true" class="btn">Update Final Proof</a>
    <% } %>
    <% if(fullRejected) { %>
        <h2>fullRejected</h2>
        <a href="/createsplgrp?fullRejected=true" class="btn">Update Final Proof</a>
    <% } %>
    <% if(approved) { %>
        <h2>approved</h2> 
        <a href="/createsplgrp?approved=true" class="btn">See Final Proof</a>
    <% } %>
<% } %>